:root {
    box-sizing: border-box;
}

body{
    background-color: lightblue
}

.row{
    margin: 0;
    padding: 0;
    height: 30px;
}

.cell{
    display: inline-block;
    border: 1px solid whitesmoke;
    background-color:white;
    margin: 0;
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    text-overflow: ellipsis;
}

.category{
    display: inline-block;
    border: 1px solid whitesmoke;
    background-color: pink;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}